@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<div class="d-flex justify-content-center align-items-center">
		<a href="/SingleAnswerQuizzes"><button class="btn btn-primary m-5">Single Answer Quizzes</button></a>
		<a href="/MultipleAnswersQuizzes"><button class="btn btn-primary m-5">Multiple Answers Quizzes</button></a>
	</div>
</div>
