@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<div class="d-flex justify-content-center align-items-center">
		<a href="/SingleAnswerQuiz" class="btn btn-primary btn-lg m-5 active" role="button">Single Answer Quizzes</a>
		<a href="/MultipleAnswersQuiz" class="btn btn-primary btn-lg m-5 active" role="button">Multiple Answers Quizzes</a>
	</div>
</div>
